<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:ui="http://java.sun.com/jsf/facelets" 
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html" 
				xmlns:p="http://primefaces.org/ui" 
				template="/WEB-INF/templates/default.xhtml">

	<ui:define name="content">

		<p:panel>

			<h:panelGrid columns="3">
				<p:selectOneMenu value="#{fipeAction.marca}">
					<f:selectItems value="#{fipeAction.marcas}" var="m" 
									itemValue="#{m}" itemLabel="#{m.name}" />
					<p:ajax listener="#{fipeAction.listarVeiculosPorMarcaEModelo()}" update="veiculos" />
				</p:selectOneMenu>
				<p:selectOneMenu id="veiculos" value="#{fipeAction.veiculo}">
					<f:selectItems value="#{fipeAction.veiculos}" var="v" 
									itemValue="#{v}" itemLabel="#{v.name}" />
					<p:ajax listener="#{fipeAction.listarVeiculosPorMarcaEModelo()}" update="modelos" />
				</p:selectOneMenu>
				<p:selectOneMenu id="modelos" value="#{fipeAction.modelo}">
					<f:selectItems value="#{fipeAction.modelos}" var="v" 
									itemValue="#{v}" itemLabel="#{v.name}" />
					<p:ajax listener="#{fipeAction.pesquisarTabelaFipePorMarcaEModeloEAno()}" update="fipe-panel" />
				</p:selectOneMenu>
			</h:panelGrid>
				<p:dataList value="#{fipeAction.alteracoesFipeModelo}" var="altFipe">
					<p:outputLabel value="#{altFipe}" />
				</p:dataList>
			</p:outputPanel>

		</p:panel>

	</ui:define>
</ui:composition>
